<div class="jumbotron">
    <h1><img style="max-width:75px; margin-top: -4px; margin-right: 10px; float:left;" src="~/Content/Images/bushop-logo.png">Bus Hop</h1>
    <p class="lead" style="font-style:italic">Keeping commuters on the move >></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>About Us</h2>
        <p>
            Bus Hop is a GPS tracking solution for Public Transport Victoria bus service
            providers and commuters. We set about changing things for the better. We're a believer in using Bus Hop
            technology to improve customer experience so we created an application that updates the
            customer with schedules and delays. This application helps the user to take back control,
            and with the system that offers versatility, transparancy and efficiency. Users can search for
            bus stops via suburbs or names.
            <i><u>Develop a commercial relationship with this transport application and enjoy the services.</u></i>
        </p>
    </div>


    <div class="col-md-6">
        <h2>API</h2>
        <p>
            Bus Hop offers a public API for B2B system integration and client application
            development.
        </p>
        <p><a class="btn btn-default" href="../Help">Learn more &raquo;</a></p>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <h2>User Guide</h2>
        <p>
            Our app is simple and easy to use, just follow these three steps and it'll tell you everything you need to know.
        </p>
        <h3>Step 1: Enter your destination</h3>
        <img src="~/Content/Images/step1.png" />
        <h3>Step 2: Select your direction and departure time</h3>
        <img src="~/Content/Images/step2.png" />
        <h3>Step 3: Check your journey</h3>
        <img src="~/Content/Images/step3.png" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Frequently Asked Questions</h2>
        <p>
            Do you have a question? Review our FAQs to see if it has already been answered.
        </p>
        <h4 align="left"><b>Where does your data come from?</b></h4>
        <p align="left">
            Our application indexes the data returned via the Public Transport of Victoria API. This API provides a public gateway for Bus Tracker client applications to access server side functions.
            For more information about the API please refer to our API page <a href="../Help">here</a>.<br />
        </p>
        <h4 align="left"><b>I don’t want my browser to know my location, can’t I just enter in a departing location manually?</b></h4>
        <p align="left">
            Yes you can enter your departing location manually. On the second page click on "change my location".<br />
        </p>
        <h4 align="left"><b>Which buses do you provide data on?</b></h4>
        <p align="left">
            We provide data on buses that run in Victoria, Australia. It is accessed through PTV’s API which means we can only provide information on buses that PTV has data on.<br />
        </p>
        <h4 align="left"><b>I have to constantly refresh my page to see where the bus is?</b></h4>
        <p align="left">
            Nope! We do all that for you - track the bus as it travels along its route without having to refresh once.<br />
        </p>
    </div>
</div>