


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Bus Hop &gt; About</title>

    <link href="http://twitter.github.io/typeahead.js/css/examples.css" rel="stylesheet" />
    <link href="/Content/css?v=zaIISXkcc4fHixPbAAWvbmZold1gAy8MdzSb9e70oeM1" rel="stylesheet" />

    <script src="/bundles/modernizr?v=wBEWDufH_8Md-Pbioxomt90vm6tJN2Pyy9u9zHtWsPo1"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><img style="max-width:25px; margin-top: -4px; margin-right: 10px; float:left;" src="/Content/Images/bushop-logo.png"> Bus Hop</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/About">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">

        <div class="jumbotron">
            <h1><img style="max-width:75px; margin-top: -4px; margin-right: 10px; float:left;" src="/Content/Images/bushop-logo.png">Bus Hop</h1>
            <p class="lead" style="font-style:italic">Keeping commuters on the move >></p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>About Us</h2>
                <p>
                    Bus Hop is a GPS tracking solution for Public Transport Victoria bus service
                    providers and commuters. We set about changing things for the better. We're a believer in using Bus Hop
                    technology to improve customer experience so we created an application that updates the
                    customer with schedules and delays. This application helps the user to take back control,
                    and with the system that offers versatility, transparancy and efficiency. Users can search for
                    bus stops via suburbs or names. Check out our help page <a href="~/Views/About/Help.cshtml">here</a>.
                    <i><u>Develop a commercial relationship with this transport application and enjoy the services.</u></i>
                </p>
            </div>


            <div class="col-md-6">
                <h2>API</h2>
                <p>
                    Bus Hop offers a public API for B2B system integration and client application
                    development.
                </p>
                <p><a class="btn btn-default" href="../Help">Learn more &raquo;</a></p>
            </div>

        </div>

    </div>

    <script src="/bundles/jquery?v=FVs3ACwOLIVInrAl5sdzR2jrCDmVOWFbZMY6g6Q0ulE1"></script>

    <script src="/bundles/bootstrap?v=2Fz3B0iizV2NnnamQFrx-NbYJNTFeBJ2GM05SilbtQU1"></script>


</body>
</html>
