<div class="jumbotron">
    <h1><img style="max-width:75px; margin-top: -4px; margin-right: 10px; float:left;" src="~/Content/Images/bushop-logo.png">Bus Hop</h1>
    <p class="lead" style="font-style:italic">Keeping commuters on the move >></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>About Us</h2>
        <p>
            Bus Hop is a GPS tracking solution for Public Transport Victoria bus service
            providers and commuters. We set about changing things for the better. We're a believer in using Bus Hop
            technology to improve customer experience so we created an application that updates the
            customer with schedules and delays. This application helps the user to take back control,
            and with the system that offers versatility, transparancy and efficiency. Users can search for
            bus stops via suburbs or names.
            <i><u>Develop a commercial relationship with this transport application and enjoy the services.</u></i>
        </p>
    </div>


    <div class="col-md-6">
        <h2>API</h2>
        <p>
            Bus Hop offers a public API for B2B system integration and client application
            development.
        </p>
        <p><a class="btn btn-default" href="../Help">Learn more &raquo;</a></p>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <h2>User Guide</h2>
        <p>
            Our app is simple and easy to use, just follow these three steps and it'll tell you everything you need to know.
        </p>
        <h3>Step 1: Enter your destination</h3>
        <img src="~/Content/Images/step1.jpg" />
        <h3>Step 2: Select your direction and departure time</h3>
        <img src="~/Content/Images/step2.jpg" />
        <h3>Step 3: Check your journey</h3>
        <img src="~/Content/Images/step3.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Frequently Asked Questions</h2>
        <p>
            Here are some previously asked questions and answers.
        </p>
        <h3>Question 1</h3>
        <p>
            Answer 1
        </p>
    </div>
</div>