<div class="jumbotron">
    <h1><img style="max-width:75px; margin-top: -4px; margin-right: 10px; float:left;" src="~/Content/Images/bushop-logo.png">Bus Hop</h1>
    <p class="lead" style="font-style:italic">Keeping commuters on the move >></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Passengers</h2>
        <p>Bus Tracker is committed to delivering quality customer service and helps 
        to improve your travel experience by tracking schedules,delays and location of the next bus.</p>
        <p><a class="btn btn-default" href="../Passenger/Index">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Drivers</h2>
        <p>
            Bus Tracker is a GPS tracking solution for Public Transport Victoria bus service 
            providers. Manage your fleet in real time and provide a valuable service to
            your passengers.
        </p>
        <p><a class="btn btn-default" href="../Driver/Index">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>API</h2>
        <p>
            Bus Tracker offers a public API for B2B system integration and client application
            development.
        </p>
        <p><a class="btn btn-default" href="../Help">Learn more &raquo;</a></p>
    </div>
    
     <div class="col-md-4">
        <h2>About us</h2>
        <p>   
            Bus Tracker is a GPS tracking solution for Public Transport Victoria bus service 
            providers. We set about changing things for the better. A believer in using Bus Tracker
            technology to improve customer experience, we created an application that updates the 
            customer with the schedules and delays. This application helps the user to take back control, 
            with the system that offers versatility, transparancy and efficiency. One can serach for
            bus stops via suburbs, name or number and find the closest bus stops and the routes related to it.
            <i><u>Develop a commercial relationship with this transport application and enjoy the services.</u></i>
           </p>
           
          </div>
                
           

</div>
