<table id="routeTable" class="table table-striped search-table">
    <tr>
        <th data-field="route">Route</th>
        <th data-field="direction">Direction</th>
        <th data-field="link">Link</th>
    </tr>
    <tr>
        <td>Deakin via Grovedale</td>
        <td>Deakin University</td>
        <td><button type="button" class="btn btn-default">Go</button></td>
    </tr>
    <tr>
        <td></td>
        <td>Geelong Station</td>
        <td><button type="button" class="btn btn-default">Go</button></td>
    </tr>
</table>