@model  IEnumerable<BusTrackerWeb.Models.RouteModel>

<table id="routeTable" class="table table-striped search-table">
    <tr>
        <th>Route</th>
        <th>Direction</th>
        <th>Link</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.RouteName)</td>
            <td>Direction</td>
            <td>@Html.ActionLink("Select", "SelectRoute", new { id=item.RouteId }, new { @class = "btn btn-default" })</td>
        </tr>
    }
</table>
