@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1><img style="max-width:50px; margin-top: -4px; margin-right: 10px; float:left;" src="/logo.png">@ViewBag.Title</h1>
</div>

<div class="journeys-title">Which journey would you like?</div>

<div id="searchResults">
    <table id="journeyTable" class="table table-striped search-table">
        <tr>
            <th>Origin</th>
            <th>Destination</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Link</th>
        </tr>
        <tr>
            <td>Geelong Station</td>
            <td>Deakin University</td>
            <td>26/07/2017 12:00 PM</td>
            <td>26/07/2017 13:00 PM</td>
            <td><button type="button" class="btn btn-default">GO</button></td>
        </tr>
        <tr>
            <td>Geelong Station</td>
            <td>Deakin University</td>
            <td>26/07/2017 14:00 PM</td>
            <td>26/07/2017 15:00 PM</td>
            <td><button type="button" class="btn btn-default">GO</button></td>
        </tr>
    </table>
</div>

<a href="@Url.Action("YourJourney", "Journey")">Journeys Demo</a>


