
@{
    ViewBag.Title = "TestMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TestMap</h2>

<div id="map_canvas" style="min-height:40em; width:100%"></div>

@section scripts {
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqZFelSFhnk3JDbFVx7qovf8IIG1ZViVs&libraries=geometry"></script>
    <script type="text/javascript">
        function initGoogleMap() {
            // Initialise map coordinates.
            var encodedPolyline = @Html.Raw(Json.Encode(@ViewBag.EncodePolylines));

            // Set map center.
            var centerLocation = new google.maps.LatLng('-37.8136','144.9631');
            
            // set map options.
            var options = {
                zoom: 7,
                center: centerLocation,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            // Update map with options.
            var map = new google.maps.Map(document.getElementById("map_canvas"), options);

            for (var i = 0; i < encodedPolyline.length; i++) {
                var decodedPolyline = google.maps.geometry.encoding.decodePath(encodedPolyline[i]);

                var drivePath = new google.maps.Polyline({
                    path: decodedPolyline,
                    geodesic: true,
                    strokeColor: '#FF0000',
                    strokeOpacity: 1.0,
                    strokeWeight: 2
                });

                drivePath.setMap(map);
            }
        }

        initGoogleMap();
    </script>

}
