
@{
    ViewBag.Title = "YourJourney";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1><img style="max-width:50px; margin-top: -4px; margin-right: 10px; float:left;" src="/logo.png"> Bus HoP >> Your Journey</h1>
</div>

<table id="scheduleTable" class="table table-striped">
    <tr>
        <th>Bus Stop:</th>
        <th>Status:</th>
        <th>Scheduled Time:</th>
        <th>Estimated Time:</th>
    </tr>
    <tr>
        <td>Geelong Station</td>
        <td>Departed</td>
        <td>26/07/2017 12:00 PM</td>
        <td>26/07/2017 12:00 PM</td>
    </tr>
    <tr>
        <td>Cr East Street and West Court</td>
        <td>On Time</td>
        <td>26/07/2017 12:20 PM</td>
        <td>26/07/2017 12:20 PM</td>
    </tr>
    <tr>
        <td>Deakin University</td>
        <td>Late</td>
        <td>26/07/2017 13:00 PM</td>
        <td>26/07/2017 13:10 PM</td>
    </tr>
</table>

<div id="map_canvas" style="min-height:20em; width:100%"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqZFelSFhnk3JDbFVx7qovf8IIG1ZViVs"></script>
<script type="text/javascript">
    function initialize() {
        var latlng = new google.maps.LatLng(40.716948, -74.003563);
        var options = {
            zoom: 14, center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), options);
    }

    initialize();
</script>
